<p>Choisis judicieusement, tu peux toutes les prendre, tu possèdes déjà: <span
        *ngFor="let user of currentUser.weaponList"> {{user.name}} , </span> </p>
<div class="weapon-body">
    <div class="weapon" *ngFor="let weapon of weaponList">
        <button (click)="bindUserAndWeapon(weapon.id)" [ngClass]="{selected : weapon.isBlunt}"
            (click)="updateWeapon(weapon)">
            {{weapon.name}}</button>
        <img src="https://tr.rbxcdn.com/0c576a83b788e0c39c8b90886ffad874/420/420/Image/Png">
    </div>
</div>
<app-change-text-between-two title="Et bien.. " [redirect]="'arena/ngfor'"
    submitButtonLabel="C'est bon ? Tu a finis ? Reviens et montre à NgFor qui est la vrai boucle"></app-change-text-between-two>